.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Back-button {
  font-size: calc(10px + 2vmin);
  text-decoration: none !important;
}